.container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: flex-start;
    gap: 20px;
}

.container p {
    margin-bottom: 1rem;
}

.row {
    display: flex;
    gap: 20px;
}

.row div {
    flex: 1;
}


@media (min-width: 500px) {
}

@media (min-width: 800px) {
}

@media (hover: hover) and (pointer: fine) {
}
