.botaoAdicionar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 1rem 0rem 0rem 0rem;
    margin: 0;
}

.icone {
    display: flex;
    align-items: center;
    width: 48px;
    height: 48px;
    color: #3a51c5; 
    cursor: pointer;
}
